{{ define "home" }}
<div class="grid">
    <div class="p-2 m-1 center row">
        <h4>Eliot Solbrig Portfolio Home</h4>
    </div>
    <hr/>
    <div class="center row">
        Contact Information
        <hr/>
        <div class="center row">
            <div class="col">
                Contact Address
            </div>
            <div class="col">
                Email
            </div>
            <div class="col">
                Phone Number
            </div>
        </div>
        <div class="center row">
            <div class="col">
                95 8th St NW Apt 504, Atlanta GA 30309
            </div>
            <div class="col">
                <a href="eliot.solbrig@gmail.com">eliot.solbrig@gmail.com</a>
            </div>
            <div class="col">
                +1 (734)-780-5507
            </div>
        </div>
        <hr/>
    </div>
    <div class="p-4 m-2 center row">
        <a href="https://github.com/SDETechnologies">SDE Technologies Github</a>
    </div>
    <div class="text-black bg-">
        <div class="calendar">
            <!-- Loading stuff -->
            Loading the data just for you.
            <script>
                GitHubCalendar(".calendar", "SDETechnologies", { responsive: true, summary_text: "" });
            </script>
        </div>
    </div>

    <div class="center row">
        <a href="/static/2024_Resume_Solbrig_Base.pdf">Resume</a>
    </div>
    <div class="center row">
        <a href="https://sdetechnologies.net">SDE Technologies Website</a>
    </div>
    <div class="center row">
        <a href="http://rxbuddy.net">RxBuddy</a>
    </div>
</div>
{{ end }}
