{{ define "body" }}
<div class="p-2 m-1 text-black center row">
    <h4>Interests</h4>
</div>
<hr/>
<div class="p-2 m-1 text-black center row">
    <h4>Careers</h4>
    <hr/>
<div class="center row">
    <div class="center row">
        Automation Engineer
    </div>
    <div class="center row">
        Process Development Engineer
    </div>
    <div class="center row">
        Process Engineer
    </div>
    <div class="center row">
        Software Engineer
    </div>
</div>
</div>
<hr/>
<div class="p-2 m-1 text-black center row">
    <h4>General</h4>
</div>
<hr/>
<div class="p-2 m-1 center row">
<div class="center row">
    <div class="center row">
        Continuous Pharmaceutical Manufacturing
    </div>
    <div class="center row">
        <ul class="list-disc">
            <li>Senior Design Project</li>
        </ul>
    </div>
</div>
<div class="center row">
    <div class="center row">
        Process Automation
    </div>
</div>
<div class="center row">
    <div class="center row">
        Organic Chemistry
    </div>
</div>
</div>
{{ end }}
