{{ define "body" }}
<div class="p-2 m-1 text-black center row">
    <h4>Interests</h4>
</div>
<hr/>
<div class="p-2 m-1 center row">
<div class="center row">
    <div class="center row">
        Continuous Pharmaceutical Manufacturing
    </div>
    <div class="center row">
        <ul class="list-disc">
            <li>Senior Design Project</li>
        </ul>
    </div>
</div>
<div class="center row">
    <div class="center row">
        Process Automation
    </div>
</div>
<div class="center row">
    <div class="center row">
        Organic Chemistry
    </div>
</div>
</div>
{{ end }}
