{{ define "projectpage" }}
<!-- Modal Overlay -->
<div id="imageModal" class="modal" onclick="hideImageModal(event)">
  <img class="modal-content" id="modalImage">
</div>

    <div class="dark-bg dp-2 center row">
        <h4>Projects</h4>
    </div>
    <input id="project-type" name="project-type" style="display:none;" class="hidden" value="0"/>
    <div class="p-2 m-1 center row outline">
        <div class="center row">
            Select Project Type
            <hr/>
        </div>
        <div
            onclick="setProjectType(0)"
            hx-post="/projectpage"
            hx-include="#project-type"
            hx-swap="innerHTML"
            hx-target="#project-page-div"
            class="col"
            >
            All
        </div>
        <div
            onclick="setProjectType(1)"
            hx-post="/projectpage"
            hx-include="#project-type"
            hx-swap="innerHTML"
            hx-target="#project-page-div"
            class="col"
            >
            Software
        </div>
        <div
            onclick="setProjectType(2)"
            hx-post="/projectpage"
            hx-include="#project-type"
            hx-swap="innerHTML"
            hx-target="#project-page-div"
            class="col"
            >
            Engineering
        </div>
        <div
            onclick="setProjectType(3)"
            hx-post="/projectpage"
            hx-include="#project-type"
            hx-swap="innerHTML"
            hx-target="#project-page-div"
            class="col"
            >
            School
        </div>
    </div>
    <hr/>
    <div class="projects-grid">
    {{ range .Projects }}
        {{ template "project" . }}
    {{ end }}
    </div>
    <script>
        function setProjectType(typeID){
            console.log("setProjectType(typeID=", typeID, ")");
            const projectTypeInput = document.getElementById("project-type");
            console.log(projectTypeInput);
            projectTypeInput.value = typeID;
            console.log(projectTypeInput);
        }
        function showImageModal(e){
            console.log('e: ', e);
            var modal = document.getElementById('modalImage');
            modal.src = e.target.src;
            console.log('showImageModal()');
            document.getElementById('imageModal').style.display = "block";
        }
        function hideImageModal(e){
            if(e.target.id == "imageModal"
            ){
            document.getElementById('imageModal').style.display = "none";
            }
        }
    </script>
{{ end }}
