{{ define "body" }}
<div class="p-2 m-1 center row">
    <div class="p-2 m-1 text-black center row">
        <h4>Skills</h4>
    </div>
    <hr/>
    <div class="p-2 m-1 center row">
        Software/Programming/Platforms
        <hr/>
        <div class="center row">
            <ul class="list-disc">
                <li>Javascript, Golang, Python, VBA, HMTX</li>
                <li>SQL - Database management and performing queries/stored procedures for data analysis</li>
                <li>REST APIs, Git, Docker</li>
                <li>Experienced developing/deploying software on Linux systems</li>
                <li>Google Cloud Platform - Cloud Run/SQL/Cloud Storage</li>
            </ul>
        </div>
    </div>
    <div class="p-2 m-1 center row">
        Process/Production Engineering
        <hr/>
        <div class="center row">
            <ul class="list-disc">
                <li>Process and Equipment troubleshooting skills</li>
                <li>Experienced in operation of Distributed Control Systems, Manufacturing Execution Systems</li>
                <li>Experienced working with and training operators in manufacturing environment.</li>
            </ul>
        </div>
    </div>
</div>
{{ end }}
