{{ define "body" }}
<div class="grid">
    <div class="p-2 m-1 center row">
        <h4>Work Experience</h4>
    </div>
    <hr/>
    <div class="center row">
        <div class="col">
            Title
        </div>
        <div class="col">
            Company
        </div>
        <div class="col">
            Location
        </div>
        <div class="col">
            Dates Employed
        </div>
        <div class="col">
            Options
        </div>
        <hr/>
    </div>
    {{ range .Experience }}
    {{ template "job" . }}
    {{ end }}
</div>
{{ end }}
