{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <script src="https://unpkg.com/htmx.org@1.9.5" type="text/javascript"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script
            src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js">
        </script>
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
        <link
        rel="stylesheet"
        href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"
        />
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body class="text-white dark-bg min-h-screen flex flex-col font-sans">
        <header class="flex flex-col justify-between bg-[#9381ff]"> 
            {{ template "header" . }}
        </header>
        <div
            id="bodyDiv"
            class=" p-2 flex-auto md:w-5/6 md:mx-auto w-full"
            >
            {{ template "body" . }} 
        </div>
    </body>
</html>
{{ end }}
