{{ define "project" }}
{{ if eq .Disabled 0 }}
<div class="dark-bg project-card">
    {{ if .ProjectImages }}

<div class="project-image-slider">
  {{ range .ProjectImages }}
    {{ if eq .ImageIsVideo 0 }}
    <img style="height:100%;width:auto;" title="{{.Caption }}" src="{{ .ImageLink }}" alt="{{ .AltLink }}" loading="lazy" onclick="showImageModal(event)"/>
    {{ else }}
    <a style="text-decoration:none;" href="{{ .ImageLink }}">
    <video title="{{.Caption}}" controls>
        <source src="{{ .AltLink }}" type="video/mp4" />
      </video>
    </a>
    {{ end }}
  {{ end }}
</div>


    {{ end }}

    <div class="dark-bg project-content">
        <h3>
            {{ if .URL }}
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ else }}
            {{ .Name }}
            {{ end }}
        </h3>

        <p>{{ .Description }}</p>

        <div class="project-links">
            {{ if .URL }}
            <a href="{{ .URL }}">Demo</a>
            {{ end }}
            {{ if .GithubRepoURL }}
            <a href="{{ .GithubRepoURL }}">GitHub</a>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ end }}

